body {
    overflow-x: hidden;
}

// quots scss
.quot-flex {
    background-color: $backColor;
    display: flex;
    flex-direction: row;
    font-size: 1.22rem;
}



.quot-card {
    //flex-basis-sets evenly spacing and size of the box!
    flex-basis: 100%;
    color: $Color3;
    min-width: 20%;
    padding: 10px;
}

.quot-img {
    min-width: 20%;
    min-height: 20vh;
}

@media (max-width: 850px) {
    .quot-flex {
        flex-direction: column;
    }
}

// end quots scss



//slideshow start

/* Slideshow container */
.phone-img {
    display: none;
    max-width: 100%;
    max-height: 50vh;
    position: relative;
    margin: auto;

    img {
        width: 100%;
        max-height: 50vh;
    }
}


.slideshow-container {
    max-width: 100vw;
    max-height: 50vh;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    width: 100vw;
    max-height: 50vh;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Caption text */
.text {
    background-color: $Color3;
    color: $Color2;
    font-family: $tfont;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media all and (max-width: 480px) {
    .slideshow-container {
        display: none;
    }

    .phone-img {
        display: block;
    }
}

//slideshow end







/* cards css start */
.cardZone {
    width: 100%;
    min-height: 100%;
}

.card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: $backColor;
}

.cardZone .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.533);
    background-color: $Color2;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card img {
    width: 100%;
}

.cardZone .card h1 {
    font-family: Pattaya;
}

.cardZone .card p {
    font-family: Roboto;
}

.cardZone .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.cardZone .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.cardZone .card .cardGroup img {
    width: 25px;
}

.cardZone .card button:hover {
    background-color: #8CBF3F;
}

.cardZone .card a:hover {
    opacity: 0.7;
}

@media all and (max-width: 950px) {
    .card-flex {

        flex-direction: column;
    }
}

/* cards css end */